syntax: glob

# temp files
*.sh~
*.*~
.DS_Store

# Byte-compiled / optimized 
__pycache__/
*.pyc
*.pyo
*.cache/
*.aux.xml

# coverage files
.coverage
.coverage.*
htmlcov/

# google drive settings
*desktop.ini

# PyCharm settings
.idea/

# Microsoft installers
*.msi

# Windows executable
*.exe

# Mac OS X installers
*.dmg

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
_build/

# notebooks checkpoint
*.ipynb_checkpoints

data/temp/
data/download/
data/output/

tests/soundspeed/atlas/outputs
tests/soundspeed/atlas/projects
tests/soundspeed/atlas/releases
tests/rtofs

examples/soundspeed/listener/seacat_capture.txt

hyo2/soundspeed/profile/ray_tracing/tracedprofile.cpp
hyo2/soundspeed/profile/ray_tracing/tracedprofile.html

# resources folder
resources/~$icons.pptx
