# temp files
*.sh~
*.*~
.DS_Store

# Byte-compiled / optimized 
__pycache__/
*.pyc
*.pyo
*.cache/

# coverage files
.coverage
.coverage.*

# google drive settings
*desktop.ini

# PyCharm settings
.idea/

# Microsoft installers
*.msi

# Windows executable
*.exe

# Mac OS X installers
*.dmg

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
docs/_build/*

# Downloaded/Output data
data/download/
data/output/

tests/soundspeed/atlas/outputs
tests/soundspeed/atlas/projects
tests/soundspeed/atlas/releases
tests/rtofs